<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.anangkur.movieku.consumer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.anangkur.movieku.READ_DATABASE" />
    <uses-permission android:name="com.anangkur.movieku.WRITE_DATABASE" />

    <application
            android:allowBackup="true"
            android:icon="@drawable/movie_ku_consumer"
            android:label="@string/app_name"
            android:roundIcon="@drawable/movie_ku_consumer"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name="com.anangkur.movieku.consumer.feature.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.anangkur.movieku.consumer.feature.detail.DetailActivity"/>
    </application>

</manifest>